extends layout.pug

block append topscripts
    link(rel="stylesheet" type="text/css" href="/plugins/table/datatable/custom_dt_custom.css")     
    link(rel='stylesheet' type='text/css' href='/plugins/table/datatable/datatables.css')
    link(rel='stylesheet' type='text/css' href='/plugins/table/datatable/dt-global_style.css')

block content
    #content.main-content
        .layout-px-spacing
            .row.layout-top-spacing#cancel-row
                if op.flag == 0
                    .col-xl-12.col-lg-12.col-sm-12.layout-spacing
                        .widget-content.widget-content-area.br-6
                            center
                                h4 Job List
                            .table-responsive.mb-4.mt-4
                                table#zero-config.table.text-center.table-hover(style='width:100%')
                                    thead   
                                        tr
                                            th(width="5%") #
                                            th(width="10%") Date
                                            th Customer Name
                                            th(width="15%") Order Id
                                            th(width="5%") Status
                                            th(width="10%") Assigned?
                                            th(width="5%") View
                                    tbody
                                        each obj in op.data
                                            tr
                                                td #{obj.JobId}
                                                td #{obj.CreatedAt}
                                                td #{obj.UserName}
                                                td #{obj.OrderId}
                                                td
                                                    if obj.JobStatus==0
                                                        span.shadow-none.badge.outline-badge-danger Pending
                                                    else if obj.JobStatus==1
                                                        span.shadow-none.badge.outline-badge-warning In Progress
                                                    else if obj.JobStatus==2
                                                        span.shadow-none.badge.outline-badge-success Completed
                                                td 
                                                    if obj.AssignedTo == 0
                                                        select#cmbassign.form-control(onchange="assignto("+obj.JobId+")")
                                                            option(value="0" selected="" disabled ) --Select--
                                                            each installer in op.ilist
                                                                option(value=installer.UserId) #{installer.UserName}
                                                    else    
                                                        div#assigned
                                                            svg.feather.feather-check-circle.text-primary(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                                                                path(d='M22 11.08V12a10 10 0 1 1-5.93-9.14')
                                                                polyline(points='22 4 12 14.01 9 11.01')

                                                td
                                                    a(href='/newjob/view/'+obj.JobId)
                                                        svg.feather.feather-eye(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                                                            path(d='M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z')
                                                            circle(cx='12' cy='12' r='3')

//- This is a page level scripts
block append bottomscripts
    script(type="text/javascript").
        $(document).ready(function () {
              $.ajax({
                type: 'post',
                url: '/newjob/ilist',
                data: {} ,
                success: function(data){
                    //- alert('changed');
                    alert(data);
                    var control="<select id='cmbassign' class='form-control' onchange='assignto("+jid+")'><option value='0' selected disabled>--Select--</option>";
                    for(var i=0;i<data.length; i++)
                    {
                        control+="<option value='"+data[i].UserId+"'>"+data[i].UserName+"</option>"
                    }
                    control+="</select>"
                    document.getElementById('notassigned').innerHTML = control;
                }
            })
        })
        //- function funassign(jid){
        //-     //- alert(cid);
        //-         $.ajax({
        //-         type: 'post',
        //-         url: '/newjob/ilist',
        //-         data: {} ,
        //-         success: function(data){
        //-             //- alert('changed');
        //-             alert(data);
        //-             var control="<select id='cmbassign' class='form-control' onchange='assignto("+jid+")'><option value='0' selected disabled>--Select--</option>";
        //-             for(var i=0;i<data.length; i++)
        //-             {
        //-                 control+="<option value='"+data[i].UserId+"'>"+data[i].UserName+"</option>"
        //-             }
        //-             control+="</select>"
        //-             document.getElementById('notassigned').innerHTML = control;
        //-         }
        //-     })

        //-     //- $.post('http://localhost:8000/newjob/ilist',{},(data)=>{
        //-     //-     var control="<select id='cmbassign' class='form-control' onchange='assignto("+jid+")'><option value='0' selected disabled>--Select--</option>";
        //-     //-     for(var i=0;i<data.length; i++)
        //-     //-     {
        //-     //-         control+="<option value='"+data[i].UserId+"'>"+data[i].UserName+"</option>"
        //-     //-     }
        //-     //-     control+="</select>"
        //-     //-     document.getElementById('notassigned').innerHTML = control;
        //-     //- })            
        //- }

        function assignto(jobid){
            //- var inid = document.getElementById('cmbassign').value;
            //- alert(cmid);
            var inid = document.getElementById('cmbassign').value;

            $.ajax({
                type: 'post',
                url: '/newjob/change',
                data: {'JobId' : jobid,
                    'InstallerId' : inid} ,
                success: function(data){
                    //- alert('changed');
                    //- alert(data);
                }
            })

        }
    script(type="text/javascript" src='/plugins/table/datatable/datatables.js').
    script(type="text/javascript").
        $('#zero-config').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_"
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
                "pageLength": 7     
        });

