extends layout.pug

block content
    #content.main-content
        .layout-px-spacing
            .row-layout-spacing
                div.col-xl-12.col-lg-6.col-md-7.col-sm-12.layout-top-spacing
                    .bio.layout-spacing
                        .widget-content.widget-content-area
                            center
                                h4 Order Details
                            table( cellPadding="5" cellSpacing="5")
                                tr  
                                    td(width="30%") 
                                        span(style="color:blue") Order Id# : 
                                        span(style="color:black") #{op[0].OrderId}
                                    td(width="15%" align="right")
                                        span(style="color:blue") Date: 
                                        span(style="color:black") #{op[0].CreatedAt}
                                tr    
                                    td
                                        span(style="color:blue") Customer name : 
                                        span(style="color:black") #{op[0].UserName}
                                    td(align="right")
                                        span(style="color:blue") Area: 
                                        span(style="color:black") #{op[0].AreaName}
                                tr
                                    td(colspan="2") 
                                        span(style="color:blue") Service : 
                                        span(style="color:black") #{op[0].ServiceName}
                                tr
                                    td(colspan="2")
                                        span(style="color:blue") Wallpaper Type : 
                                        span(style="color:black") #{op[0].TypeName}   

                div.col-xl-12.col-lg-6.col-md-7.col-sm-12.layout-top-spacing
                    .bio.layout-spacing
                        .widget-content.widget-content-area
                            h4 Product Details
                            table(border="1" cellPadding="5" cellSpacing="5" width="100%" style="border:black;")
                                thead   
                                    th 
                                        span(style="color:blue") Image
                                    th(width="15%") 
                                        span(style="color:blue") Title
                                    th(width="15%") 
                                        span(style="color:blue") Category    
                                    th(width="10%") 
                                        span(style="color:blue") Price
                                    th(width="30%")
                                        span(style="color:blue") Details
                                each prod in op[0].product
                                    tr
                                        td  
                                            img(src="/images/product/"+prod.ProductImg height="150px" width="300px")
                                        td  #{prod.ProductTitle}
                                        td  #{prod.CategoryName}
                                        td  #{prod.Price}
                                        td  #{prod.Details}

block append bottomscripts  
    script.
        $(document).ready(function(){
            //- alert(#{op[0].OrderId});
            var oid = #{op[0].OrderId};
            //- alert("Order ID" + oid);
                $.ajax({
                type: 'post',
                url: '/order/productimg',
                data: {'OrderId' : oid} ,
                success: function(data){
                    var control = "";
                    for (var i=0;i < data.length; i++)
                    {
                        control += "<tr>";
                        control += "<td><img src="+data[i].ProductImg+"></img></td>"
                        control += "<td>"+data[i].ProductTitle+"</td>"
                        control += "<td>"+data[i].CategoryName+"</td>"
                        control += "<td>"+data[i].Price+"</td>"
                        control += "<td>"+data[i].Details+"</td>"
                        control += "</tr>"
                    }
                    document.getElementById('productlist').append = control;
                }
            })
        })
        